//https://getbootstrap.com/docs/5.0/customize/color/
//https://colorhunt.co/

$primary: #1F4690;
$secondary: #7FB5FF;
$success: #14C38E;


//https://github.com/twbs/bootstrap/blob/af092931f09daadc898b77e78728cd763b974f5d/scss/_variables.scss#L503
$container-max-widths: (
    xxl: 1608px
) !default;

  
