@font-face {
    font-family: 'yekan';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/iranyekanweblightfanum.eot');
    src: url('../fonts/iranyekanweblightfanum.eot#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/iranyekanweblightfanum.woff') format('woff'),  /* FfF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/iranyekanweblightfanum.ttf') format('truetype');
}

body {
    font-family: 'yekan' !important;
}

// sticky footer
.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .Site-content {
    flex: 1;
  }