<!doctype html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <title>sample home</title>
    <% include /src/include/styles.ejs %>
</head>

<body  class="Site">

    <% include /src/include/header.ejs %>

      <main class="Site-content">
        <a href="page.html">sample page</a>
      </main>
  
    <% include /src/include/footer.ejs %>
    <% include /src/include/scripts.ejs %>

</body>
</html>